<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.facebook.like.dao.LikeDAO">
 	<!-- 좋아요 개수 select -->
 	<select id="selectLikeCountByPostIdOrUserId" parameterType="map" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`like`
 		WHERE
 			`postId` = #{postId}
 			<if test="userId != null">
 			AND `userId` = #{userId}
 			</if>
 	</select>
 </mapper>