@charset "UTF-8";

#wrap {
	width:800px;
}
.header-box{
	height:100px;
}
.header-logo{
	font-weight: bold;
	font-size: 50px;
}

#signUpBox {
	height:630px;
	width:500px;
	background-color: #eaeaea;
}
#signInBox {
	height:400px;
	width:400px;
	background-color: #eaeaea;
}

#loginBtn {
	width:350px;
	height:48px;
}
.login-input-box input {
	width:350px;
	height:45px;
}
.sign-up-href {
	width:300px;
	height:50px;
	font-size: 20px;
}

#loginIdCheckBtn {
	width: 65px;
	font-size: 11px;
}

.sign-up-span {
	display: block;
	font-size: 15px;
	color: #727272;
}
#signUpBtn {
	height:60px;
	background: #18db09;
}

.href-text {
	font-size: 25px;
}



.contents {
	height:600px;
}

.contents-box {
	height:50px;
}


.contents-box2 {
	height:100px;
	background: red;
}


.circle {
	width: 80px;
      height: 80px;
      background:#c0c0c0;
      border-radius: 50%;
      display: block;
      margin-left: 50px;
}
.rectangle {
      width: 60px;
      height: 25px;
      background:#c0c0c0;
      margin-top:27px;
    }
.textarea{
	border:1px solid #c0c0c0
}

#timelineHeader {
	width: 700px;
	height:100px;
}
#timelineSection {
	width:900px;
	height:700px;
}
.timeline-write {
	width:500px;
	height:80px;
	background-color: #eeeeee;
}

.timeline-div1 {
	margin-left: 130px;
}
.timeline-div2 {
	margin-left:260px;
	margin-top:20px;
	width:500px;
	height:500px;
	background-color: red;
}

.timeline-div3 {
	margin-left:260px;
	width:500px;
	height:40px;
}

.comment-write {
	margin-left:260px;
	width:500px;
}
.upload-btn {
	width:80px;
	height:40px;
	margin-left:50px;
}
.write-div {
	margin-left:60px;
	margin-top:10px;
	height:500px;
	background: #d5d5d5;
}


footer {
	width:710px;
	height:50px;
	margin-left:60px;
}
.footer-btn {
	margin-left: 260px;
}
.timeline-div {
	width:420px;
	height:70px;
	background-color: #f8f8f8;
}






