@charset "UTF-8";

#wrap {
	width:800px;
}


/* 로그인 화면 signIn */
.header-box{
	height:100px;
}

.header-logo{
	font-weight: bold;
	font-size: 50px;
}

#signInBox {
	height:400px;
	width:400px;
	background-color: #eaeaea;
}

#loginBtn {
	width:350px;
	height:48px;
}

.login-input-box input {
	width:350px;
	height:45px;
}

.sign-up-href {
	width:300px;
	height:50px;
	font-size: 20px;
}

/* 회원가입 화면 signUp */

#signUpBox {
	height:630px;
	width:500px;
	background-color: #eaeaea;
}

#loginIdCheckBtn {
	width: 65px;
	font-size: 11px;
}

.sign-up-span {
	display: block;
	font-size: 15px;
	color: #727272;
}

#signUpBtn {
	height:60px;
	background: #18db09;
}

.href-text {
	font-size: 25px;
}

/* 글쓰기 화면 postCreate */

.circle {
	width: 80px;
      height: 80px;
      background:#c0c0c0;
      border-radius: 50%;
      display: block;
      margin-left: 50px;
}

.rectangle {
      width: 60px;
      height: 25px;
      background:#c0c0c0;
      margin-top:27px;
}

.textarea{
	border:1px solid #c0c0c0
}

.upload-btn {
	width:80px;
	height:40px;
	margin-left:50px;
}

/* 타임라인 화면 timeline */

#timelineHeader {
	width: 700px;
	height:100px;
}

#timelineSection {
	width:900px;
	height:800px;
}

.timeline-div1 {
	margin-left: 130px;
}

.timeline-div {
	width:420px;
	height:70px;
	background-color: #f8f8f8;
}

.logout-btn {
	color:#696969;
	background-color: #eeeeee;
}

.timeline-box {
	width:600px;
	margin-left: 150px;
}

.comment-input {
	width:520px;
}

.card-content {
	height:100px;
}

/* 내 게시물 postDetail */

.write-div {
	margin-left:60px;
	margin-top:10px;
}

footer {
	width:710px;
	height:50px;
	margin-left:60px;
}

.footer-btn {
	margin-left: 260px;
}

.file-upload {
	margin-right:250px;
}

.detail-btn {
	height:35px;
	width:65px;
	margin-left:10px;
}

.file-name {
	margin-right: 120px;
}











